<!DOCTYPE html>
<html>
<head> <% include ./head %> </head>
<body>
<% include ./header %>

    <a class="btn" href="/additem">Add New Item</a>

    <div class="card">

    <table class="highlight">
        <tr>
            <th>Book Title</th>
            <th>Author</th>
            <th>Summary</th>
            <th>Date</th>
            <th>Site</th>
            <th>Added By</th>
            <th>thumbs_up</th>
            <th>thumbs_down</th>
        </tr>

        <% items.forEach(function(item){  %>
        <tr>
            <td><%= item.booktitle %></td>
            <td><%= item.author %></td>
            <td><%= item.summaryonbook %></td>
            <td><%= item.date %></td>
            <td><a href="<%= item.site %>" target="opensesame">site</a> </td>
            <td><%= item.addedBy %></td>
            <td><a href="/like?book=<% item.booktitle %>"><i class="material-icon">thumbs_up</i></a></td>
            <td><a href="/dislike?book=<% item.booktitle %>" ><i class="material-icon">thumbs_down</i></a></td>


        </tr>
        <% }) %>
    </table>

    </div>

<% include ./footer %>
</body>
</html>
